<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.skysilently.dingtalk.mapper.AppDependencyMapper">

    <resultMap id="BaseResultMap" type="com.github.skysilently.dingtalk.module.dao.AppDependencyDO">
        <id column="id" property="id"/>
        <result column="env" property="env"/>
        <result column="agent_version" property="agentVersion"/>
        <result column="dependency_jar_groupid" property="dependencyJarGroupId"/>
        <result column="dependency_jar_artifactid" property="dependencyJarArtifactId"/>
        <result column="dependency_jar_version" property="dependencyJarVersion"/>
        <result column="app_name" property="appName"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,env,agent_version,dependency_jar_groupid,dependency_jar_artifactid,dependency_jar_version,app_name
    </sql>

    <select id="getAppDependencyByArtifactId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from chongtong_app_dependency_info
        where dependency_jar_artifactid = #{dependencyJarArtifactId}
    </select>

</mapper>